<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>suma de numeros</title>
  </head>
  <body>
    <form action="/suma" method="post">
      <label>entero1</label>
      <input type="text" name="txtnumero1" placeholder="primernumero" value="">
      <label>entero2</label>
      <input type="text" name="txtnumero2" placeholder="segundonumero" value="">
      <button type="submit" value="sumar" name="btnsumar">sumar</button>


    </form>

  </body>
</html>
